<div class="container" >
    <div class="page-header">        
        <h2>Pesquisa</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="pessoa.name" placeholder="Quem você procura?"/>
                    <span class="input-group-btn">
                        <a class="btn btn-primary" type="button" href="#/pessoas/{{pessoa.name}}">Pesquisar</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <table class="table table-striped">
        <thead>            
            <th>Nome</th>
            <th>Ano nascimento</th>   
        </thead>
        <tbody>
            <tr ng-repeat="pessoa in pessoas | filter: pessoa.name">
                <td><a href="#/pessoas/{{pessoa.name}}">{{pessoa.name}}</a></td>
                <td>{{pessoa.birth_year}}</td>                
            </tr>
        </tbody>
    </table> 
    <nav aria-label="...">
        <ul class="pager">
           <li class="previous" ><a href="#/pessoas/page/{{paginaAnterior}}" ng-show="{{previous}}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
            <li class="next" ><a href="#/pessoas/page/{{proximaPagina}}" ng-show="{{next}}">Próximo<span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>    
</div>