<div class="container">
    <div class="row">
        <div class="col col-md-3">
            <div class="thumbnail">
                <img src="img/img-default.png" alt="{{pessoa.name}}" title="{{pessoa.name}}">
            </div>
        </div>
        <div class="page-header">
            <h1>{{pessoa.name}} <small>ano nascimento {{pessoa.birth_year}}</small></h1>
            <div class="info">
                <label>Altura:</label> {{pessoa.height /100}} m</br>
                <label>Peso:</label> {{pessoa.mass}} kg</br>
                <label>Cabelos:</label> {{pessoa.hair_color}}</br>
                <label>Olhos:</label> {{pessoa.eye_color}}</br>
                <label>Gênero:</label> {{pessoa.gender}}</br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <legend><i class="glyphicon glyphicon-film"></i> Filmes</legend>
            <div ng-class="{tbodyScroll: filmesTable.length > 6}">
                <div class="loading-spiner-holder" ng-show="loading">
                    <div class="loading-spiner">
                        <h4>Aguarde...</h4>
                        <img src="img/loader.gif" />
                    </div>
                </div>
                <table class="table table-striped table-bordered" ng-hide="loading">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Episódio</th>
                            <th>Diretor</th>
                            <th>Lançamento</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="filme in filmesTable">
                            <td>{{filme.title}}</td>
                            <td>{{filme.episode_id}}</td>
                            <td>{{filme.director}}</td>
                            <td>{{filme.release_date | date : 'dd/MM/yyyy'}}</td>
                            <td><a href="#/filmes/{{filme.title}}"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col-md-12">
            <legend><i class="glyphicon glyphicon-book"></i> Espécies</legend>
            <div ng-class="{tbodyScroll: especiesTable.length > 6}">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Classificação</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="especie in especiesTable">
                            <td>{{especie.name}}</td>
                            <td>{{especie.classification}}</td>
                            <td><a href="#/especies/{{especie.name}}"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col-md-12">
            <legend><i class="glyphicon glyphicon-road"></i> Veículos</legend>
            <div ng-class="{tbodyScroll: veiculosTable.length > 6}">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Qtde passageiros</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="veiculo in veiculosTable">
                            <td>{{veiculo.name}}</td>
                            <td>{{veiculo.passengers}}</td>
                            <td><a href="#/veiculos/{{veiculo.name}}"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col-md-12">
            <legend><i class="glyphicon glyphicon-plane"></i> Naves</legend>
            <div ng-class="{tbodyScroll: navesTable.length > 6}">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Modelo</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="nave in navesTable">
                            <td>{{nave.name}}</td>
                            <td>{{nave.model}}</td>
                            <td><a href="#/naves/{{nave.name}}"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>